/* -------------------------------- */
/* GLOBALE                          */
/* -------------------------------- */
h1, h2, h3, h4, h5, h6, a, p
{
	font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;
    text-decoration: none;
    color: #0D1A26;
}

/* -------------------------------- */
/* EN-TÊTE                          */
/* -------------------------------- */
.header-container
{
    box-shadow: 0 2px 8px #f0f1f2;
    display: flex;
    justify-content: space-between;
}

/* ---------------- */
/* RANGÉE GAUCHE    */
/* ---------------- */
.header-container-left
{
    text-align: center;
    flex-basis: 20em;
}

.header-container-left > a
{
    line-height: 60px;
}

#title
{
    font-size: 18px;
    font-weight: 500;
    color: #0D1A26;
}

#title:hover
{
    transition: color 0.3s;
    color: #1890FF;
}

/* ---------------- */
/* RANGÉE DROITE    */
/* ---------------- */
.header-menu
{
    float: right;
    margin-right: 10em;
}

.header-menu > ul > li
{
    float: left;
}

.header-menu > ul > li > a
{
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 3px;
    margin-left: 4px;
    margin-right: 4px;
    line-height: 60px;
    display: block;
    outline: none;
}

.header-menu > ul > li > a:hover
{
    transition: color .3s;
    color: #1890FF;
}

#header-menu-selected
{
    margin-top: 0px;
    border-top: 3px solid #1890FF;
    color: #1890FF;
}

/* -------------------------------- */
/* CONTENU GUIDE                    */
/* -------------------------------- */
.main-container
{
    padding-top: 37px;
    display: grid;
    grid-template-columns: 20em auto 10em;
}

/* ---------------- */
/* RANGÉE GAUCHE    */
/* ---------------- */
.main-menu
{
    padding-top: 4px;
    padding-bottom: 48px;
    position: sticky;
    top: 0px;
    border-right: 1px solid #E8E8E8;
}

.main-menu > ul > li > a
{
    font-size: 14px;
    padding-left: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: 40px;
    display: block;
    outline: none;
}

.main-menu > ul > li > a:first-child
{
    margin-top: 0px;
}

.main-menu > ul > li > a:hover
{
    transition: color .3s;
    color: #1890FF;
}

.main-menu > ul > li > a:focus
{
    transition: color .3s, background-color .15s;
    color: #1890FF;
    background-color: #E6F7FF;
}

#main-menu-selected
{
    color: #1890FF;
    background-color: #E6F7FF;
    border-right: 3px solid #1890FF;
}

/* ---------------- */
/* RANGÉE MILIEU    */
/* ---------------- */
h1
{
    font-size: 30px;
    font-weight: 500;
    line-height: 38px;
    margin-top: 8px;
    margin-bottom: 20px;
}

h2
{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 38px;
    margin-bottom: 14px;
}

h3
{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 14px;
}

h6
{
    font-size: 24px;
    font-style: italic;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 14px;
    margin-top: 6px;
    text-align: center;
    color: #314659;
}

h6 > a
{
    color: #314659;
    text-decoration: underline;
}

p
{
    font-size: 14px;
    line-height: 28px;
    margin-top: 14px 0px;
    color: #314659;
}

p > a
{
    color: #1890FF;
}

.page
{
    padding-left: 64px;
    padding-right: 24px;
    padding-bottom: 144px;
    text-align: justify;
}

.image-container
{
    margin-top: 40px;
    margin-bottom: 6px;
    text-align: center;
}

.list > li > p
{
    margin-left: 1em;
    list-style-type: circle;
    list-style-position: outside;
    display: list-item;
}

.list > li > p > a
{
    color: #1890FF;
}

/* ---------------- */
/* RANGÉE DROITE    */
/* ---------------- */
.part-menu
{
    padding-top: 20px;
    padding-bottom: 48px;
    position: sticky;
    top: 0px;
}

.part-menu > ul > li > a
{
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-left: 1px solid #E8E8E8;
    line-height: 18px;
    display: block;
    outline: none;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.part-menu > ul > li > a:hover
{
    transition: color .3s, background-color .15s, border-left-color .3s;
    color: #1890FF;
    border-left-color: #1890FF;
}

/* -------------------------------- */
/* CONTENU À PROPOS DE              */
/* -------------------------------- */
.about
{
    margin-left: 2.5em;
    max-width: 60em;
}
