/* ---------------------------------------------------------------- */
/*                                                                  */
/*  - index.css                                                     */
/*                                                                  */
/*  Style principale du site web.                                   */
/*                                                                  */
/* ---------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6, p, a, span, li {
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;
    text-decoration: none;
    color: #0D1A26;
}

h1, h2, h4 {
    text-align: center;
    font-weight: 700;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 21px;
}

h4 {
    text-align: left;
    font-size: 17px;
    margin-bottom: 4px;
}

form {
    text-align: left;
}

.header-container
{
    box-shadow: 0 2px 8px #f0f1f2;
    display: flex;
    justify-content: space-between;
}

.header-container-left
{
    text-align: center;
    flex-basis: 20em;
}

.header-container-left > a
{
    line-height: 60px;
}

#title
{
    font-size: 18px;
    font-weight: 500;
    color: #0D1A26;
    text-decoration: none;
    color: #0D1A26;
}

#title:hover
{
    transition: color 0.3s;
    color: #1890FF;
}

#text-server-state {
    margin: 20px 0px 20px 0px;
}

#div-wrapper {
    text-align: center;
}

#div-buttons {
    margin: 20px 0px 20px 0px;
}

#inner {
    display: inline;
}

#div-message {
    display: inline-block;
    margin: 20px 0px 20px 0px;
}

#div-tank {
    position: fixed;
    margin-left: 275px;
    left: 50%;
    margin-top: 5px;
}

#img-stream {
    background: url("../images/video-not-found.png");
    width: 720px;
    height: 480px;
    margin: 20px 0px 20px 0px;
}

button {
    width: 100px;
    color: #FFFFFF;
    background-color: #1890FF;
    line-height: 1.499; /* Hauteur inconsistente lorsque la valeur est à 1.5. */
    border: 1px solid transparent;
    cursor: pointer;
    height: 32px;
    padding: 0px 16px;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s;
}

button:hover {
    background-color: #40A9FF;
}

input {
    box-sizing: border-box;
    height: 32px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.5;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    transition: all .3s;
}

#input-message {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#button-send {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -5px;
}